.NoteInput-one-row-container {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.NoteInput-one-row-container2 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.NoteInput-one-row-container3 {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.NoteInput-one-row-container4 {
  display: flex;
  flex: 1;
}

.NoteInput-icon-container :hover {
  cursor: pointer;
}

.NoteInput-text {
  word-wrap: break-word;
  width: 90%;
  font-size: 15px !important;
}

.NoteInput-text2 {
  word-wrap: break-word;
  width: 100%;
  font-size: 14px !important;
  font-weight: 100 !important;
  /* height: 50%; */
  margin-top: 0px;
}